html {
	background-image: url("../images/background_white3.jpg");
	background-repeat: repeat;  
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    max-width:960px;
	width: 95%;
	background-color: white;
	margin: auto;
	padding: 0;
	border: 5px solid #005485;
}

/* the styles for the header */
header {
	background-color: #005485;	
	padding: 1em 1.666% 1em 1.666%;  /* 1em = 16px; top and bottom 1em/16px (defult fonts size)
										right and left (16px/960)*100 */
}
header img {
  float: left;
  padding-right: 1.5625%; /*15px/960 */
  padding-left:3.125%;	/*30/960 */
  max-width:70px;
  min-width:30px;
 }
header h2 {
	font-size: 220%;
	/*font-weight: bold;*/
    color: white;
    padding-top: 0.25em;
    /*margin-bottom: 2px;*/
    margin-left: 2.604%;
    font-family: 'Reem Kufi', sans-serif;
}
header h3 {
	font-size: 140%;
	color:white;
	margin-left: 2.6041%;
	font-family: 'Kalam', cursive;
}
#nav_menu ul {
  list-style: none;
  position: relative;
  border-top:3px solid #094270; 
}
#nav_menu ul li {
  float: left;
  width:20%;
}
#nav_menu ul ul {
  display:none;
  position: absolute;
  top: 100%;
}
#nav_menu ul ul li {
  float: none;
}
#nav_menu ul li:hover > ul {
  display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
#nav_menu ul {
  margin: 0;
  padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	/*width: 192px;*/
	padding: 16px 0;
    text-decoration: none;
    background-color: #094270;	
    color: white;
    font-weight: bold;
    border-right: 2px;
}

#nav_menu ul li a.current{
  color: #85C8FF;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus{
  background-color: gray;
}

section, aside, h2, h3, p, ul {
	margin: 0;
	padding: 0;
}
section { 
	width: 	61.45%;
	margin: 30px auto 180px;  
}

section h3{
	padding:2em 0;
}

input {
	margin-left: 2.71186%;
	margin-bottom: .5em;
}
	

/* the styles for the sidebar */
aside {
	width: 26.04166%;
	float: right;
	padding-left: 1.25em;
}
aside img {
	width:80%;
	margin-top: 5em;
	margin-bottom:1.5em;
}
aside p{
	margin-right:3em;	
	text-align: center;
	padding-bottom:0.5em;
}

footer {
	padding:1.5625%;
}

footer p {
	font-size: 85%;
	text-align: center;
	
}

#mobile_menu{
  display:none;
}

@media only screen and (max-width:960px){
	html{
	    background-image: none; /* removed bakcground-image*/  
	}
	body{
	    font-size:90%;  
	}
}/* end of tablet portrait media query */

@media only screen and (max-width:767px){
	#nav_menu {
    display:none;  
  }
   #mobile_menu {
    display:block;    /*... and display a slickNav menu*/
  }
  header h2 {
    font-size:200%;
  }
  header h3{
  	font-size:130%
  }
  section form{
    width:90%;
    float:none; 
    padding-left:5%;
    padding-bottom:0.5em;
  }
  aside{
    width:50%;
    float:none;
    padding:0 5% 1em 30%;
    /*margin-left:10%;*/  }
  #nav_list ul {
    width:50%;
    padding-left:25%;
    text-align: center;
  }
} /* end of phone landscape meida quary */

@media only sceen and (max-width:479px) {
  header h2 {
    font-size:190%; 
  }
  header h3 {
    font-size:120%; 
  }
} /* end of Phone portrait media query */

