html {
	background-image: url("../images/background_white3.jpg");
	background-repeat: repeat;  
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
	width: 960px;
	background-color: white;
	margin: auto;
	padding: 0;
	border: 5px solid #005485;
}

/* the styles for the header */
header {
	background-color: #005485;	
	padding: 1em;
}
header img {
  float: left;
  padding-right: 15px;
  padding-left:30px;
  /*padding-top:3px;*/
  width:70px;
 }
header h2 {
	font-size: 220%;
	/*font-weight: bold;*/
    color: white;
    padding-top: .25em;
    /*margin-bottom: 2px;*/
    margin-left: 25px;
    font-family: 'Reem Kufi', sans-serif;
}
header h3 {
	font-size: 140%;
	color:white;
	margin-left: 25px;
	font-family: 'Kalam', cursive;
}
#nav_menu ul {
  list-style: none;
  position: relative;
  border-top:3px solid #094270; 
}
#nav_menu ul li {
  float: left;
}
#nav_menu ul ul {
  display:none;
  position: absolute;
  top: 100%;
}
#nav_menu ul ul li {
  float: none;
}
#nav_menu ul li:hover > ul {
  display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
#nav_menu ul {
  margin: 0;
  padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 192px;
	padding: 1em 0;
    text-decoration: none;
    background-color: #094270;	
    color: white;
    font-weight: bold;
    border-right: 2px;
}
#nav_menu ul li a.lastitme {
  border-right:none;
  width: 192px;             /* leave this here,just in case you make a 3-tire menu */
}
#nav_menu ul li a.current{
  color: #85C8FF;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus{
  background-color: gray;
}

section, aside, h2, h3, p, ul {
	margin: 0;
	padding: 0;
}
section {
	width: 590px;
	float: right;
	margin-bottom:3em;
	padding: 20px 25px 25px 25px;
}

section h2 {
	font-size: 200%;
	margin-bottom: 0.35em; 
	color: #005485;
	border-bottom:3px solid #0F76B2;
	/*font-family: 'Dekko', cursive;*/
	font-family: 'Dekko', cursive;
}

section h3{
	font-size:160%;
	margin:0.35em 0;
	color: #0F76B2;
	font-family: 'Dekko', cursive;

}

section p{
	padding-bottom: 1em;	
	line-height: 1.5;
}

section ul{
	padding:0.5em;
	margin-left: 1.5em;
	margin-bottom: 1.5em; 
}

section li {
	padding-bottom: 0.45em;
	line-height: 1.5;
}

section img {
	float: left;
	/*margin: 1em 2em 2em;*/
	/*margin-left: 2em;*/	
	padding-right:2em;
	margin-bottom: 2em;
}

/* the styles for the sidebar */
aside {
	width: 250px;
	float: right;
	padding-left: 20px;
}
aside img {
	width:200px;
	margin-top: 5em;
	margin-bottom:1.5em;
}
aside p{
	margin-right:3em;	
	text-align: center;
	padding-bottom:0.5em;
}

footer {
	padding:15px;
}

footer p {
	font-size: 85%;
	text-align: center;
	
}